body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #09b2be, #24c6d1, #17acca);
    color: white;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    background: white;
    color: black;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}

.card input, .card textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.card button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.list {
    width: 350px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.task-buttons button {
    margin: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

.complete {
    background: green;
    color: white;
}

.edit {
    background: orange;
    color: white;
}

.delete {
    background: red;
    color: white;
}

small {
    display: block;
    color: gray;
}
